In [34]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/79/bd/d64719da8f5367f4d8b16e83507fa1d90942f433f748a4cf3ed7aa515d14/yfinance-0.1.63.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 35.4MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23919 sha256=57b95a8a14d5e013926636e2d94003f8e704ee9140e960eb097811b9a4ac5de1
  Stored in directory: /root/.cache/pip/wheels/fe/a0/79/b73d4a0c535b421b88fc7b393936b371fabbfeaf979eca4050
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import yfinance as yf
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Your path to data set below
fn = '/content/drive/MyDrive/DataSets/vacancies_2020.csv.gz'
df = pd.read_csv(fn, compression='gzip')
df.head()

         id  ...                                        terms_found
0  30711158  ...  jmeter спринт тестировщик continuous_integrati...
1  30711538  ...  современный_офис memcache team phpunit php арх...
2  30713109  ...                     яндекс windows_7 гибкий_график
3  30714567  ...  медицинская_страховка официальное_трудоустройс...
4  30716168  ...  bash team c# perl английский_язык тестирование...

[5 rows x 56 columns]

In [4]:
df.shape

(587637, 56)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587637 entries, 0 to 587636
Data columns (total 56 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         587637 non-null  int64
 1   description                587637 non-null  object
 2   key_skills                 431738 non-null  object
 3   schedule_id                587637 non-null  object
 4   schedule_name              587637 non-null  object
 5   accept_handicapped         587637 non-null  bool
 6   accept_kids                587637 non-null  bool
 7   experience_id              587637 non-null  object
 8   experience_name            587637 non-null  object
 9   specializations            587637 non-null  object
 10  contacts                   12130 non-null   object
 11  billing_type_id            587637 non-null  object
 12  billing_type_name          587637 non-null  object
 13  allow_messages             587637 non-null  bool
 14  premium                    587637 non-null  bool
 15  driver_license_types       1749 non-null    object
 16  accept_incomplete_resumes  587637 non-null  bool
 17  employer_id                586477 non-null  float64
 18  employer_name              587637 non-null  object
 19  employer_vacancies_url     586477 non-null  object
 20  employer_trusted           586477 non-null  object
 21  employer_alternate_url     586477 non-null  object
 22  employer_industries        473202 non-null  object
 23  response_letter_required   587637 non-null  bool
 24  type_id                    587637 non-null  object
 25  type_name                  587637 non-null  object
 26  has_test                   587637 non-null  bool
 27  response_url               757 non-null     object
 28  test_required              2948 non-null    object
 29  salary_from                258741 non-null  float64
 30  salary_to                  164509 non-null  float64
 31  salary_gross               284072 non-null  object
 32  salary_currency            285014 non-null  object
 33  archived                   587637 non-null  bool
 34  name                       587637 non-null  object
 35  insider_interview          6570 non-null    object
 36  area_id                    587637 non-null  int64
 37  area_name                  587637 non-null  object
 38  area_url                   587637 non-null  object
 39  created_at                 587637 non-null  object
 40  published_at               587637 non-null  object
 41  address_city               276688 non-null  object
 42  address_street             271467 non-null  object
 43  address_building           262952 non-null  object
 44  address_description        0 non-null       float64
 45  address_lat                278728 non-null  float64
 46  address_lng                278728 non-null  float64
 47  alternate_url              587637 non-null  object
 48  apply_alternate_url        587637 non-null  object
 49  code                       6673 non-null    object
 50  department_id              39413 non-null   object
 51  department_name            39413 non-null   object
 52  employment_id              587637 non-null  object
 53  employment_name            587637 non-null  object
 54  prof_classes_found         576794 non-null  object
 55  terms_found                583826 non-null  object
dtypes: bool(8), float64(6), int64(2), object(40)
memory usage: 219.7+ MB

In [6]:
# Change a boolean value
df["accept_handicapped"]        = df["accept_handicapped"].replace([False, True], [0, 1])
df["accept_kids"]               = df["accept_kids"].replace([False, True], [0, 1])
df["allow_messages"]            = df["allow_messages"].replace([False, True], [0, 1])
df["premium"]                   = df["premium"].replace([False, True], [0, 1])
df["accept_incomplete_resumes"] = df["accept_incomplete_resumes"].replace([False, True], [0, 1])
df["response_letter_required"]  = df["response_letter_required"].replace([False, True], [0, 1])
df["has_test"]                  = df["has_test"].replace([False, True], [0, 1])
df["archived"]                  = df["archived"].replace([False, True], [0, 1])

In [32]:
# Change a object value
df["employer_trusted"] = df["employer_trusted"].replace([False, True], [0, 1])
df["test_required"]    = df["test_required"].replace([False, True], [0, 1])
df["salary_gross"]     = df["salary_gross"].replace([False, True], [0, 1])

In [11]:
df = df.rename(columns={'schedule_id': 'schedule', 
                        'experience_id': 'experience',
                        'billing_type_id':'billing_type',
                        'type_id': 'type',
                        'department_id': 'department',
                        'employment_id': 'employment'})

In [12]:
df = df.drop(columns=['billing_type_name', 'schedule_name', 'experience_name', 
                      'type_name', 'address_street', 'address_building', 
                      'address_description', 'address_lat', 'address_lng', 'address_lng', 'contacts'])

In [13]:
df = df.drop(columns=['driver_license_types', 'response_url', 
                      'insider_interview', 'code', 'department', 
                      'department_name', 'employment_name'])

In [66]:
df = df.drop(columns='area_url')

In [103]:
df = df.drop(columns='created_at')

In [104]:
df.head()

         id  ... schedule_id
0  30711158  ...           2
1  30711538  ...           2
2  30713109  ...           3
3  30714567  ...           2
4  30716168  ...           2

[5 rows x 38 columns]

---
# Change a Categorical data
---

---
### Label Encoder for the "schedule" column
*   fullDay = 2
*   remote = 3
*   flexible = 0
*   shift = 4
*    flyInFlyOut = 1
---

In [37]:
df.schedule.value_counts()

fullDay        450230
remote          78151
flexible        38095
shift           13723
flyInFlyOut      7438
Name: schedule, dtype: int64

In [38]:
display(df[df.schedule == 'fullDay'].head(1))
display(df[df.schedule == 'remote'].head(1))
display(df[df.schedule == 'flexible'].head(1))
display(df[df.schedule == 'shift'].head(1))
display(df[df.schedule == 'flyInFlyOut'].head(1))

         id  ...                                        terms_found
0  30711158  ...  jmeter спринт тестировщик continuous_integrati...

[1 rows x 39 columns]

         id  ...                     terms_found
2  30713109  ...  яндекс windows_7 гибкий_график

[1 rows x 39 columns]

          id  ...                                        terms_found
16  33721521  ...  желание_развиваться digital_marketing google_a...

[1 rows x 39 columns]

          id  ...                                        terms_found
33  33725761  ...  team sphinx prometheus mesos nginx php английс...

[1 rows x 39 columns]

          id  ...  terms_found
70  36620016  ...  опыт_работы

[1 rows x 39 columns]

In [42]:
le = LabelEncoder()
df["schedule"] = le.fit_transform(df["schedule"])

In [43]:
display(df[df.id == 30711158].head(1)) 
display(df[df.id == 30713109].head(1)) 
display(df[df.id == 33721521].head(1)) 
display(df[df.id == 33725761].head(1)) 
display(df[df.id == 36620016].head(1))

         id  ... schedule_id
0  30711158  ...           2

[1 rows x 40 columns]

         id  ... schedule_id
2  30713109  ...           3

[1 rows x 40 columns]

          id  ... schedule_id
16  33721521  ...           0

[1 rows x 40 columns]

          id  ... schedule_id
33  33725761  ...           4

[1 rows x 40 columns]

          id  ... schedule_id
70  36620016  ...           1

[1 rows x 40 columns]

In [44]:
df.head()

         id  ... schedule_id
0  30711158  ...           2
1  30711538  ...           2
2  30713109  ...           3
3  30714567  ...           2
4  30716168  ...           2

[5 rows x 40 columns]

---
### Label Encoder for the "billing_type" column
*   standart = 2
*   standart_plus = 3
*   free = 0
*   premium = 1
---

In [45]:
df.billing_type.value_counts()

standard         474034
standard_plus     93293
free              18857
premium            1453
Name: billing_type, dtype: int64

In [46]:
display(df[df.billing_type == 'standard'].head(1))
display(df[df.billing_type == 'standard_plus'].head(1))
display(df[df.billing_type == 'free'].head(1))
display(df[df.billing_type == 'premium'].head(1))

         id  ... schedule_id
0  30711158  ...           2

[1 rows x 40 columns]

          id  ... schedule_id
41  33727380  ...           0

[1 rows x 40 columns]

          id  ... schedule_id
80  36620066  ...           2

[1 rows x 40 columns]

           id  ... schedule_id
981  36628324  ...           3

[1 rows x 40 columns]

In [47]:
df["billing_type"] = le.fit_transform(df["billing_type"])

In [48]:
display(df[df.id == 30711158].head(1)) 
display(df[df.id == 33727380].head(1)) 
display(df[df.id == 36620066].head(1)) 
display(df[df.id == 36628324].head(1))

         id  ... schedule_id
0  30711158  ...           2

[1 rows x 40 columns]

          id  ... schedule_id
41  33727380  ...           0

[1 rows x 40 columns]

          id  ... schedule_id
80  36620066  ...           2

[1 rows x 40 columns]

           id  ... schedule_id
981  36628324  ...           3

[1 rows x 40 columns]

---
### Label Encoder for the "type" column
*   open = 2
*   anonymous = 0
*   direct = 1
---

In [49]:
df.type.value_counts()

open         585720
anonymous      1160
direct          757
Name: type, dtype: int64

In [50]:
display(df[df.type == 'open'].head(1))
display(df[df.type == 'anonymous'].head(1))
display(df[df.type == 'direct'].head(1))

         id  ... schedule_id
0  30711158  ...           2

[1 rows x 40 columns]

           id  ... schedule_id
650  36625405  ...           3

[1 rows x 40 columns]

            id  ... schedule_id
1992  38967368  ...           2

[1 rows x 40 columns]

In [51]:
df["type"] = le.fit_transform(df["type"])

In [52]:
display(df[df.id == 30711158].head(1)) 
display(df[df.id == 36625405].head(1)) 
display(df[df.id == 38967368].head(1))

         id  ... schedule_id
0  30711158  ...           2

[1 rows x 40 columns]

           id  ... schedule_id
650  36625405  ...           3

[1 rows x 40 columns]

            id  ... schedule_id
1992  38967368  ...           2

[1 rows x 40 columns]

---
### Label Encoder for the "employment" column
*   full = 0
*   part = 1
*   project = 3 
*   probation = 2
*   volunteer = 4
---

In [53]:
df.employment.value_counts()

full         552948
part          24922
project        5090
probation      4628
volunteer        49
Name: employment, dtype: int64

In [54]:
display(df[df.employment == 'full'].head(1))
display(df[df.employment == 'part'].head(1))
display(df[df.employment == 'project'].head(1))
display(df[df.employment == 'probation'].head(1))
display(df[df.employment == 'volunteer'].head(1))

         id  ... schedule_id
0  30711158  ...           2

[1 rows x 40 columns]

         id  ... schedule_id
2  30713109  ...           3

[1 rows x 40 columns]

           id  ... schedule_id
248  36621657  ...           3

[1 rows x 40 columns]

           id  ... schedule_id
310  36622495  ...           0

[1 rows x 40 columns]

             id  ... schedule_id
18454  39748244  ...           3

[1 rows x 40 columns]

In [55]:
df["employment"] = le.fit_transform(df["employment"])

In [56]:
display(df[df.id == 30711158].head(1)) 
display(df[df.id == 30713109].head(1)) 
display(df[df.id == 36621657].head(1)) 
display(df[df.id == 36622495].head(1)) 
display(df[df.id == 39748244].head(1))

         id  ... schedule_id
0  30711158  ...           2

[1 rows x 40 columns]

         id  ... schedule_id
2  30713109  ...           3

[1 rows x 40 columns]

           id  ... schedule_id
248  36621657  ...           3

[1 rows x 40 columns]

           id  ... schedule_id
310  36622495  ...           0

[1 rows x 40 columns]

             id  ... schedule_id
18454  39748244  ...           3

[1 rows x 40 columns]

---
### Label Encoder for the "experience" column
*   between1And3 = 0
*   between3And6 = 1
*   noExperience = 3
*   moreThan6 = 2
---

In [57]:
df.experience.value_counts()

between1And3    300768
between3And6    162169
noExperience    108619
moreThan6        16081
Name: experience, dtype: int64

In [58]:
display(df[df.experience == 'between1And3'].head(1))
display(df[df.experience == 'between3And6'].head(1))
display(df[df.experience == 'noExperience'].head(1))
display(df[df.experience == 'moreThan6'].head(1))

         id  ... schedule_id
0  30711158  ...           2

[1 rows x 40 columns]

         id  ... schedule_id
8  31364469  ...           2

[1 rows x 40 columns]

         id  ... schedule_id
2  30713109  ...           3

[1 rows x 40 columns]

         id  ... schedule_id
6  31362372  ...           2

[1 rows x 40 columns]

In [59]:
df["experience"] = le.fit_transform(df["experience"])

In [60]:
display(df[df.id == 30711158].head(1)) 
display(df[df.id == 31364469].head(1)) 
display(df[df.id == 30713109].head(1)) 
display(df[df.id == 31362372].head(1))

         id  ... schedule_id
0  30711158  ...           2

[1 rows x 40 columns]

         id  ... schedule_id
8  31364469  ...           2

[1 rows x 40 columns]

         id  ... schedule_id
2  30713109  ...           3

[1 rows x 40 columns]

         id  ... schedule_id
6  31362372  ...           2

[1 rows x 40 columns]

In [67]:
df.head()

         id  ... schedule_id
0  30711158  ...           2
1  30711538  ...           2
2  30713109  ...           3
3  30714567  ...           2
4  30716168  ...           2

[5 rows x 39 columns]

In [75]:
df.head()

         id  ... schedule_id
0  30711158  ...           2
1  30711538  ...           2
2  30713109  ...           3
3  30714567  ...           2
4  30716168  ...           2

[5 rows x 39 columns]

---
Format a column "published_at" to format 'YYYY-MM-DD' in code below
---

In [106]:
df["published_at"] = pd.to_datetime(df["published_at"])

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587637 entries, 0 to 587636
Data columns (total 38 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         587637 non-null  int64
 1   description                587637 non-null  object
 2   key_skills                 431738 non-null  object
 3   schedule                   587637 non-null  int64
 4   accept_handicapped         587637 non-null  int64
 5   accept_kids                587637 non-null  int64
 6   experience                 587637 non-null  int64
 7   specializations            587637 non-null  object
 8   billing_type               587637 non-null  int64
 9   allow_messages             587637 non-null  int64
 10  premium                    587637 non-null  int64
 11  accept_incomplete_resumes  587637 non-null  int64
 12  employer_id                586477 non-null  float64
 13  employer_name              587637 non-null  object
 14  employer_vacancies_url     586477 non-null  object
 15  employer_trusted           586477 non-null  float64
 16  employer_alternate_url     586477 non-null  object
 17  employer_industries        473202 non-null  object
 18  response_letter_required   587637 non-null  int64
 19  type                       587637 non-null  int64
 20  has_test                   587637 non-null  int64
 21  test_required              2948 non-null    float64
 22  salary_from                258741 non-null  float64
 23  salary_to                  164509 non-null  float64
 24  salary_gross               284072 non-null  float64
 25  salary_currency            285014 non-null  object
 26  archived                   587637 non-null  int64
 27  name                       587637 non-null  object
 28  area_id                    587637 non-null  int64
 29  area_name                  587637 non-null  object
 30  published_at               587637 non-null  datetime64[ns]
 31  address_city               276688 non-null  object
 32  alternate_url              587637 non-null  object
 33  apply_alternate_url        587637 non-null  object
 34  employment                 587637 non-null  int64
 35  prof_classes_found         576794 non-null  object
 36  terms_found                583826 non-null  object
 37  schedule_id                587637 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(16), object(15)
memory usage: 170.4+ MB

In [108]:
df["published_at"] = df["published_at"].dt.strftime("%Y-%m-%d")

In [109]:
df.head()

         id  ... schedule_id
0  30711158  ...           2
1  30711538  ...           2
2  30713109  ...           3
3  30714567  ...           2
4  30716168  ...           2

[5 rows x 38 columns]